{% extends "base2.html" %}
{% load static from staticfiles %}
{% block head %}
<script>

$('.closeall').click(function(){
	  $('.panel-collapse.in')
	    .collapse('hide');
	});
	$('.openall').click(function(){
	  $('.panel-collapse:not(".in")')
	    .collapse('show');
	});
</script>




{% endblock %}

{% block content %}
 {% if user %}
<div class="container" style="padding-top: 54px">
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading" style="height:33px; background-color: #1c7cce; color:#fff;">
      Claims
        <h4 class="panel-title pull-right">
        
          <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
         
           <i class="fa fa-plus" style="color:white"></i>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          ONe Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" style="height:33px; background-color: #1c7cce;color:#fff;">
       Authenticity
        <h4 class="panel-title pull-right">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <i class="fa fa-plus" style="color:white"></i>
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          Two Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" style="height:33px; background-color: #1c7cce;color:#fff;">
      Financials
        <h4 class="panel-title pull-right">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <i class="fa fa-plus" style="color:white"></i>
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          Three Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading" style="height:33px; background-color:#1c7cce;color:#fff;">
      Challenges
        <h4 class="panel-title pull-right">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
            <i class="fa fa-plus" style="color:white"></i>
          </a>
        </h4>
      </div>
      <div id="collapsefour" class="panel-collapse collapse">
        <div class="panel-body">
          Two Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" style="height:33px; background-color: #1c7cce;color:#fff;">
      Hosts & Gifters
        <h4 class="panel-title pull-right">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
            <i class="fa fa-plus" style="color:white"></i>
          </a>
        </h4>
      </div>
      <div id="collapsefive" class="panel-collapse collapse">
        <div class="panel-body">
          Two Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
     <div class="panel panel-default">
      <div class="panel-heading" style="height:33px; background-color: #1c7cce;color:#fff;">
      Locations
        <h4 class="panel-title pull-right">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
            <i class="fa fa-plus" style="color:white"></i>
          </a>
        </h4>
      </div>
      <div id="collapsesix" class="panel-collapse collapse">
        <div class="panel-body">
          Two Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" style="height:33px;background-color: #1c7cce;color:#fff;">
      About
        <h4 class="panel-title pull-right">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseseven">
            <i class="fa fa-plus" style="color:white"></i>
          </a>
        </h4>
      </div>
      <div id="collapseseven" class="panel-collapse collapse">
        <div class="panel-body">
          Two Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    
    
   </div>
   </div>
    {% else %}
   <p>Sorry,Please Log in!!!</p>
   {% endif %}
   
   

{% endblock %} 







