{% extends "base2.html" %}
{% load static from staticfiles %}
{% block head %}
 <script type="text/javascript" src="{% static "js/update_password.js" %}"></script>
{% endblock %}

 
{% block content %}


        
 <center> 
 <form id="login-form" action="{% url 'home:reset_password_save' %}"  method="POST">


 <div id="div1">
   {% if password  %}  
   <center>
<label for="text"  id="rohi" style="color:red; font-size: 18px;margin-top: 31px;">{{password}} ...</label>
</center>
   {% endif %} </div>

                     {% csrf_token %}    
    <h3 style="margin-top: 5px; margin-bottom: 25px;font-size: 19px;"><span id="text-login-msg" style="color: #000000;"><b>G</b>et <b>I</b>nvolved <b>F</b>or <b>T</b>omorrow</span></h3> 
          <div class="form-activate forgetpass">
	
		<div class="row reset">Reset Password ?
		 {% if password1 %} 
		<label for="text" style="color: #0072bc; font-size: 12px;">{{password1}}</label>
		{% endif %}
		 {% if password2 %} 
		<label for="text" style="color: #0072bc; font-size: 12px;">{{password2}}</label>
		{% endif %}
		</div>
		                    <!-- <label for="name" style="color: #0072bc;margin-left: -79px;margin-bottom: 16px;">Forget Password ?</label> -->

            
             <div class="form-group">
		     <div class="pass" for="password">Old Password</div>
	           <input type="password" class="form-control1 reset-pass" id="old_password" name="old_password">
	          <div id="errs" style="color:red;"></div>
	          </div>
             
			<div class="form-group">
		     <div class="pass" for="password">Password</div>
	        <input type="password" class="form-control1 reset-pass" id="new_password" name="new_password1">
	          <div id="err1" style="color:red;"></div>
	          </div>
	          <div class="form-group">
	          <div class="confirm" for="password">Confirm Password</div>
	         <input type="password" class="form-control1 reset-pass" id="confirm_password" name="new_password2">
	          <div id="qwerty" style="color:red;"></div>
		    </div>
		    
		 <div>
          <button type="button"  id="submit_frm" class="btn btn-default" style="background-color: #0072BC;color: white;width: 97px;">Save</button>
        </div>
				    		
      </div>
              </form>
                </center>       
       
				         
    
{% endblock %}