{% extends "base3.html" %}
{% load static from staticfiles %}




{% block content %}

 
<script src="{% static 'js/update_challenge.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/wickedpicker.css' %}">  
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>  
<script type="text/javascript" src="{% static 'js/wickedpicker.js' %}"></script>
 

<script>
$(document).ready(function(){
 $('input.timepicker').wickedpicker();

 $('input.timepicker1').wickedpicker();

});


</script>





<style>
#ui-datepicker-div { 
        font-size: 12px;
        
} 
#datepicker{float:left; height:18px;}
h1{font-size: 15px;}

.ui-datepicker-trigger
{
        margin-left: 335px;
        margin-top: -60px; 
}

</style>
<style>
.file {
  visibility: hidden;
  position: absolute;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
</style>
<script>
$(document).on('click', '.browse', function(){
	  var file = $(this).parent().parent().parent().find('.file');
	  file.trigger('click');
	});
	$(document).on('change', '.file', function(){
	  $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
	});
</script>


 <script>
         $(function() {
            $( "#start_date" ).datepicker({
            	
            	 format: "yyyy-mm-dd",
            	 
            	});
            var date1 = document.getElementById("start_date").value;
         });
 </script>
 <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {
                
            	 $( "#end_date" ).datepicker({
            		 format: "yyyy-mm-dd",
            		 });
            	 var date2 = document.getElementById("end_date").value;
                   
                });  
            
            
 </script> 
 
 <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {
                
                $('#exp_date').datepicker({
                	 format: "yyyy-mm-dd",
                     
                }); 
                var date3 = document.getElementById("exp_date").value;
            
            });
            
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#blah')
                            .attr('src', e.target.result)
                            .width(150)
                            .height(200);
                        
                    };
                    
                    reader.readAsDataURL(input.files[0]);
                }
            }
            function imgchange(f) {
 	           var filePath = $('#file').val();
 	           var reader = new FileReader();
 	           reader.onload = function (e) {
 	               $('#imgs').attr('src',e.target.result);
 	              var files = ev.target.files; 
 	              for (var i = 0; i < files.length; i++) {
 	     			var file = files[i],
 	        			 name = file.name || file.fileName,
 	         		reader = new FileReader();

 	    					 reader.onload = createReaderHandler(name);
 	     				reader.readAsBinaryString (file);
 	              }
 	           };
 	          
 	           //reader.readAsDataURL(f.files[0]);           
 	        }
 </script>
 
  <script>
$(document).ready(function(){
	 var list={{data.categorytype}};
	
	console.log("catelist",list);
	for(i=0;i<list.length;i++)
		{
		  //console.log(list[i]);
		 cat =(list[i]);
		 console.log(cat);
		 
		 $(".demo1").filter(function() {
		        return this.value == cat;
		    }).prop("checked", "true");
		} 
	
	var list1={{data.locationtype}};
	console.log("loclist",list1);
	
	
	for(i=0;i<list1.length;i++)
		{
		  //console.log(list[i]);
		 loc =(list1[i]);
		 //console.log(loc);
		 
		 $(".demo").filter(function() {
		        return this.value == loc;
		    }).prop("checked", "true");
		}  


});
</script>

<nav class="navbar-inverse">
  <div class="container-fluid" style="box-shadow: 0 1px 5px rgb(14, 15, 17);">
     
 
    <ul class="nav navbar-nav mychellge">
     
       
       <li><a href="{% url 'home:host' %}" class="navbtn" role="button" style="background-color:#ccc;">My Challenges</a></li>
       
      
      
    </ul>
    
    <div class="col-sm-3 col-md-3 pull-right" style="margin-left: -11px;">
        <form class="navbar-form" role="search">
        
        
        <div class="input-group ">
            <input type="text" class="form-control" placeholder="Search" name="q">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>
        </form>
    </div>
    
  
  </div>
</nav>

<div class="container">

{% if update %}
 <ul class="noty-wrapper i-am-new" id="noty_top">
    <li class="bg-green" style="cursor: pointer;background-color:#f5f5f5;color:green;opacity:0.8; height:52px;">
       <div class="noty_bar" id="noty_453371394759536000">
 <div class="noty_message"><span class="noty_text">
            <a href="/home/host/"><i class="fa fa-times" aria-hidden="true" id="cog"></i></a>&nbsp;&nbsp; {{update}}</span>
          </div>
          </div></li></ul>
           {% endif %}

 <form action=""  id="form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  
   <input type="hidden" name="challenge" id="challenge" value={{pk}}> 
    <h3>Post your own challenge</h3>
  

    <div class="form-activate" style="padding-left: 107px;margin-right: 15px;margin-left: 15px;margin-top: 30px;">
    <div class="row">
    <div class="col-md-6" style="margin-top: 14px;">
    
     
    <div class="form-group">
      <label for="name">Title<span style="color:red;">*</span></label>
     <input type="text" class="form-control1 fsize" name="title" id="title"  value= "{{data.challenge.title}}">
     <div id="errortitle" style="color:red;"></div>
    </div>
    

<div class="form-group">
    <label for="name">Add your Own image<span style="color:red;">*</span></label>
 <input type="file" class="form-control1 fsize" name="image" id="image" >
     <!-- <input type='file' onchange="readURL(this);" /> -->
    <!-- <input type="file" name="file" id="file" onchange="imgchange(this)"> -->
   <!--  <img id="blah" src="#" alt="your image" /> -->
   <!-- <img id="imgs" width="170px" height="160px" ></img>-->
   
   
       <div id="errorimage" style="color:red;"></div>
   <img src="{% static 'image/gift icon/camera.png' %}" style="margin-left: 294px;margin-top: -58px;color:#0072BC">
</div>    

<div class="form-group">
   <label for="name">Challenge Start Date<span style="color:red;">*</span></label>
   <input type="text" class="form-control1 fsize" name="start_date" id="start_date" value={{data.challenge.start_date}}>
   <div id="errorstart" style="color:red;"></div>
   <img src="{% static 'image/gift icon/calendar.png' %}" style="margin-left: 294px;margin-top: -58px;color:#0072BC">
</div> 
    
 <div class="form-group">
    <label for="name">Challenge End Date<span style="color:red;">*</span></label>
    <input type="text" class="form-control1 fsize" name="end_date" id="end_date" value={{data.challenge.end_date}}>
    <div id="errorend" style="color:red;"></div>
    <img src="{% static 'image/gift icon/calendar.png' %}" style="margin-left: 294px;margin-top: -58px;color:#0072BC">
</div> 
    
    
 <div class="form-group">
       <label for="name">Expiration Date to join<span style="color:red;">*</span></label>
      <input type="text" class="form-control1 fsize" name="reg_expire_date" id="exp_date" value={{data.challenge.reg_expire_date}}>
       <div id="errorexp" style="color:red;"></div>
      <img src="{% static 'image/gift icon/calendar.png' %}" style="margin-left: 294px;margin-top: -58px;color:#0072BC">
</div> 
     
   
<div class="form-group">
   <label for="name">Challenge Start Time<span style="color:red;">*</span></label>
   <input type="text" class="form-control1 fsize timepicker" name="start_time" id="timepicker" value={{data.challenge.start_time}}>
   <img src="{% static 'image/gift icon/clock.png' %}" style="margin-left: 294px; margin-top: -58px;color:#0072BC">
</div>




<div class="form-group" >
   <label for="name">Challenge End Time<span style="color:red;">*</span></label>
   <input type="text" class="form-control1 fsize timepicker1" name="end_time" id="timepicker1" value={{data.challenge.end_time}}> 
   <img src="{% static 'image/gift icon/clock.png' %}"  class="clock" style="margin-left:294px; margin-top: -58px;color:#0072BC">
</div>
</div>



<div class="col-md-6" style="margin-top: 41px;">
<div class="form-group dropdown" name="category" id="category">
    
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style="width: 60%;height: 34px;background-color:#ccc;">
    
    <div class="select" style="margin-right: 335px;">------ Category ------</div>
     <div class="img"><span><img src="{% static 'image/gift icon/caret-down.png' %}" height="20px" width = "20px" style=" margin-left: 253px;margin-top:-15%;"></span></div></button>
    <ul class="dropdown-menu scrollable-menu " role="menu" aria-labelledby="menu1" style="min-width: 310px;">
    {% for c in obj%}
      
      <li class="list-group-item "><label>{{c.category_name}}</label>
      <input type="checkbox" id="check" class="chekm demo1 faChkRnd1 pull-right" name="category" value="{{c.category_id}}"></li>
      	{% endfor %} 
    </ul>
     <div id="errorcategory" style="color:red;"></div>
  </div>
  
  <br>
  <div class="form-group dropdown" name="location" id="location">
    <button class="btn btn-default dropdown-toggle"  type="button" id="menu2" data-toggle="dropdown" style="width: 60%;height: 34px;background-color:#ccc;">
    <div class="select" style="margin-right: 335px;">------ Location ------- </div>
    <div class="img"><span><img src="{% static 'image/gift icon/caret-down.png' %}" height="20px" width = "20px" style=" margin-left: 253px;margin-top:-15%;"></span></div></button>
    <ul class="dropdown-menu scrollable-menu " role="menu" id="menu" aria-labelledby="menu1" style="min-width: 310px;">
    {% for k in object_list%}
      
      <li class="list-group-item "><label>{{k.city}}</label>
      <input type="checkbox" id="check1" class="local demo faChkRnd1 pull-right" name="location" value="{{k.id}}"></li>
      	{% endfor %} 
    </ul>
    <div id="errorlocation" style="color:red;"></div>
  </div> 
  
 <br> 
  
<div class="form-group">
      <label for="name">Venue<span style="color:red;">*</span></label>
     <input type="text" class="form-control1 fsize" name="venue" id="venue" value= "{{data.challenge.venue}}">
     <div id="errorvenue" style="color:red;"></div>
 </div>
 <br>
<div class="form-group">
       <label for="name">Directions</label>
      <input type="text" class="form-control1 fsize" name="direction" id="direction" value="{{data.challenge.direction}}">
      <div id="errordirection" style="color:red;"></div>
      <img src="{% static 'image/gift icon/directions.png' %}"  class="direction"style="margin-left:294px; margin-top: -58px;color:#0072BC">
  </div> 
  
  
 
 <div class="form-group">
       <label for="name">Contact<span style="color:red;">*</span></label>
      <input type="text" class="form-control1 fsize" name="contact_no" id="number" value={{data.challenge.contact_no}}>
       <div id="error1" style="color:red;"></div>
      <img src="{% static 'image/gift icon/mobile.png' %}"  class="contact"style="margin-left: 294px; margin-top: -58px;color:#0072BC">
    </div>
 
 
      
<div class="form-group">
      <label for="name">Description</label>
     <input type="text" class="form-control1 fsize" name="description" id="description" value="{{data.challenge.description}}">
 </div>
<br>
<div class="form-group">
      <label for="name">No of Volunteers<span style="color:red;">*</span></label>
     <input type="text" class="form-control1 fsize" name="requested_volunteers" id="requested_volunteers" value={{data.challenge.requested_volunteers}}>
     <div id="errorvolunteer" style="color:red;"></div>
 </div> 
 </div>
 </div> 
</form>

<form action="{% url 'home:upload_pic'%}"  id="picture_form1" method="POST" enctype="multipart/form-data">
    
     
     {% csrf_token %}
     <label id="challenge_photo"></label>
     {{frm.picture}}
     </form>     

 <div class="submit">
       <button type="button" class="btn1 btn-default submit" id="sub" style="background-color: #0072BC;color: white;width: 97px;height: 33px;margin-bottom: 18px;">Update</button>
          
  </div> 
</div>
 
 </div>
 

  <!-- <div class="submit">
       <button type="submit" class="btn1 btn-default submit" id="sub" style="background-color: #0072BC;color: white;width: 97px;height: 33px;margin-bottom: 18px;">Update</button>
          
  </div> 
  </div> -->
 
 <!--   </form>
     <form action="upload_pic"  id="picture_form" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
     {{frm.challenge_id}}
     
     {{frm.picture}}
     </form>    -->
</div>

 


      
   

{% endblock %} 