 {% extends "admin.html" %} {% load table_tags %} {% load staticfiles %}

{%block styleBlock%}
<style type="text/css">
.main-footer {
    background: #fff;
    padding: 3px !important;
    color: #444;
    border-top: 1px solid #d2d6de;
}

a:focus {
    outline: 0px auto -webkit-focus-ring-color  !important;
    outline-offset: -2px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    
}
.modal-footer {
    border-top-color: rgba(114, 81, 81, 0);
}
.modal-footer {
    padding: 48px;
    text-align: right;
    margin-left:106px;
}
.modal {
	overflow: auto
}


.form-control[disabled], fieldset[disabled] .form-control {
    cursor: auto;
}

.header1
{
    margin-left: 380px;
    font-size: 140%;
   
    border-color: blue
}

.modal.modal-wide .modal-dialog {
	width: 80%;
}

.item {
	margin-left: 2%;
	width: 75%;
}

#column_space {
	margin-left: 3%;
}

.itemassets {
	margin-left: 2%;
	width: 75%;
}

.modal-wide .modal-body {
	overflow-y: auto;
}

#textarea {
	margin-left: 2%;
}

.chkbox-width {
	width: 15%
}

#extraasst {
	margin-left: 15%;
	width: 135%;
}

#extraasst_quantity {
	margin-left: 70%;
	width: 20%;
}

.asets_quantity_left {
	width: 7%;
	margin-left: 38%;
	position: absolute;
	margin-top: -5%
}

.asets_desc_left {
	width: 50%;
	margin-left: 48%;
	position: absolute;
	margin-top: -5%
}

label {
	margin-top: 20px;
}

#column_space {
	margin-left: 3%;
}

.modal-wide .modal-body {
	overflow: hidden;
}
</style>
{%endblock%} {%block ScriptBlock%}
<script>
	$(document).ready(function() {
		
		var t = document.getElementById('usergroupstable');
		var row = t.rows.length
		var rows = row-1
		var j = 3
		var k = 4
                var m = 0
    
                 for (i=1 ; i<=rows ; i++)
   {
   var val = $(t.rows[i].cells[m]).text(i);  
   
   }
                        
		/* alert(t.rows.length) */

		// jQuery to get the content of row 4, column 1
		for (i=1 ; i<=rows ; i++)
			{
		 var val = $(t.rows[i].cells[j]).text();  
		 /*alert(val)*/  
	        
			 if (val == "host_approve") {
				/*alert("1nd if");*/
				$(t.rows[i].cells[j]).text("approve");

			}
			else if(val == "host_decline") {
				/*alert("2nd if");*/
				$(t.rows[i].cells[j]).text("rejected");

			} 

                        else if(val == "complete") {
				/*alert("2nd if");*/
				$(t.rows[i].cells[j]).text("complete");

			}


			else{
				$(t.rows[i].cells[j]).text("pending");
				
			}
		
			}
		
		 
		
		
			
			
		$.ajax({

			url : '/mygift/hostname/',
			type : "GET",
			
		}).done(function(data){
		        console.log(data);
		        
		        var t = document.getElementById('usergroupstable');
				var row = t.rows.length
				/* console.log("row lnght",row) */
						
							for(j=0 ; j<=data.length ;j++)
				 
					 {
					 
					
					for (i=1 ; i<=row-1 ; i++)
						

			{
							
						
						var val = $(t.rows[i].cells[k]).text(); 
						
						/* console.log("val is",val)
		
		                    console.log(data[j].user) 
		  */
		 
		 if(val == data[j].user)
			 {
			 
			 console.log("in if")
			 $(t.rows[i].cells[k]).text(data[j].organization)
			 console.log(data[j].organization)
			 
			 } 
			 
			}
					 
					 }
				
				
				
		        
		});
		
		
		
		
		
		$("#approve").on("click", function() {
			
			
			challenge_id = $(this).closest('tr').find('td:eq(1)').html();
			console.log(challenge_id)
		     
		     
		     
		       url='/mygift/challengeapprove/';       
		     challengeapprove(url,challenge_id); 
	    	
		    	
		    	
		    });
		
		
$("#update").on("click", function() {
			
			
			challenge_id = $(this).closest('tr').find('td:eq(1)').html();
			console.log(challenge_id)
		     
		     
		     
		       url='/mygift/challengeupdate/';       
		     challengeupdate(url,challenge_id); 
	    	
		    	
		    	
		    });
		
$(".fa").on("click", function() {
	 $('.viewOnlyAccess').prop("disabled", true);
			/*alert("hii.........")*/
			challenge_id = $(this).closest('tr').find('td:eq(1)').html();
			
			 console.log(challenge_id)
		     
		     $("#challenge_id").val(challenge_id);
			 $("#challenge").val(challenge_id);
		    	
		     
		       url='/mygift/viewchallenge/';       
		     challengeview(url,challenge_id);  
	    	 
		    	
		    	
		    });
		
      $("#reject").on("click", function() {
			
    	 
			challenge_id = $(this).closest('tr').find('td:eq(1)').html();
			console.log(challenge_id)
		     
		     
		     
		       url='/mygift/challengereject/';       
		     challengerej(url,challenge_id); 
	    	
		    	
		    	
		    });
	});
	
	
	function challengeapprove(url,challenge_id){
		$.ajax({
			  url : url,
			  type : "GET",
			  data:{'challenge_id' : challenge_id}
			  }) 
			  .done(function(data) {
				   console.log(data.length);
				   
				   
				   });
	}					
	
	function challengeupdate(url,challenge_id){
		$.ajax({
			  url : url,
			  type : "GET",
			  data:{'challenge_id' : challenge_id}
			  }) 
			  .done(function(data) {
				   console.log(data.length);
				   
				   
				   });
	}					
	
	function challengerej(url,challenge_id){
		$.ajax({
			  url : url,
			  type : "GET",
			  data:{'challenge_id' : challenge_id}
			  }) 
			  .done(function(data) {
				   console.log(data.length);
				   
				   
				   });
	}
        function ref() {

  location.reload();
 }					
	
	function challengeview(url,challenge_id){
  $.ajax({
     url : url,
     type : "GET",
     data:{'challenge_id' : challenge_id}
     }) 
     .done(function(data) {
       
    	 //console.log(data);
    	$.each(data,function(key ,value){
    		console.log(value.location)
    		
    		console.log(value.img)
    		//console.log(value.location[1].city)
    		var msg = value.img[0].photo
       if(msg.startsWith("./"))
          { 
         var newVal=msg.split(".");
         var Val=("/media".concat(newVal[1])).concat(".".concat(newVal[2]));
         $('#id_image').attr('src',Val);
    }
        else{
         var word=msg.split(",");
         $('#id_image').attr('src',word[1]);
    
         }
    		
    		$('#id_user').val(value.user[0].full_name);
     		 $('#id_organization').val(value.user[0].organization);
   		 $('#id_website').val(value.user[0].website);
   		$('#id_title').val(data[0].title);
    		//alert(value.challenge[0].title);
    		$('#id_email').val(value.use[0].email);
    		
    		$('#id_title').val(value.challenge[0].title);
    		
    		$('#id_description').val(value.challenge[0].description);
    		 $('#id_decline_volunteers').val(value.challenge[0].decline_volunteers);
    		$('#id_contact').val(value.challenge[0].contact_no);
    	   $('#id_start_time').val(value.challenge[0].start_time);
    	  $('#id_direction').val(value.challenge[0].direction);
    	 $('#id_venue').val(value.challenge[0].venue);
    		
    	 $('#id_start_date').val(value.challenge[0].start_date);
    	$('#id_reg_expire_date').val(value.challenge[0].reg_expire_date);
           $('#id_end_date').val(value.challenge[0].end_date);
           var k=(value.challenge[0].post_date).split('T')[0]
           $('#id_post_date').val(k);
        
           
           $('#id_end_time').val(value.challenge[0].end_time);
           
           $('#id_requested_volunteers').val(value.challenge[0].requested_volunteers);
          
           $('#id_commited_volunteers').val(value.challenge[0].commited_volunteers);
         
           $('#id_accepted_volenteers_by_host').val(value.challenge[0].accepted_volenteers_by_host);
         
           $('#id_declined_volenteers_by_host').val(value.challenge[0].declined_volenteers_by_host);
           $('#id_start_date').val(value.challenge[0].start_date);
          
           $('#id_tentative_volunteers').val(value.challenge[0].tentative_volunteers);
    		
    		var val0=value.category;
    		//var val1=value.category[1].category_name;
    		//var val2=value.category[2].category_name;
    		//var val3=value.category[0].category_name;
    		//alert(val1);
    		//alert(val2);
    		//alert(val3);
    		
    		//@foreach (var item in val0) 
    		
    		//var all=val1.concat(val2,val3);
    		//alert(all);
    		var s="";
    		
    		for(var i=0;i<value.category.length;i++){
    			
    			//val0 += val0[i].value ;	
    			
    			//alert(val0[i].category_name);
    			s=s+val0[i].category_name+",";
    			
    			//alert(val0[i].category_name) 
       		}
    		//alert(all);
    		//alert("sss"+s);
    		$('#id_category').val(s);
    

    		
    		//document.getElementById("id_category").innerHTML = val0.join(" * ");
    		var val1=value.location;
    		console.log(value.location);
    		//var val2=value.location[0].city;
    		//var val3=value.location[1].city;
    		//alert(val2);
    		var q="";
    		//var all=val2.concat(val3);
    		
    		
    		for(var i=0;i<val1.length;i++){
    			
    			
    			q=q+val1[i].city+",";
    			
    			//alert(val1[i].value)
    		}
    		$('#id_location').val(q);
    		//alert("fff");
    		
    		
    		
     		
    	});
    	
    
    	
              
       });
 }				
	
	
	</script>
{%endblock%} {% block content %}

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">List of Challenges</h3>

				</div>
				<!-- /.box-header -->
				<div class="box-body" id="">{% render_table ChallengeList %}</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</section>

<!-- delete modal -->
<div id="rejectchallenge" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content" style="margin-top:165px;margin-left:120px;border-radius:20px;width:310px;">
			<div class="modal-header" style="background-color:#3c8dbc;border-top-left-radius: 17px;border-top-right-radius: 17px;">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" style="color: #fff">Reject Confirmation</h4>
			</div>
			<div class="modal-body">
				<div class="container">
					<p style="font-weight: bold;">Are you sure you want to reject?</p>
				</div>
			</div>
			<div class="modal-footer">
				<form id="" action="{% url 'mygift:rejectChallenge' %}"
					method="POST" name="">
					{% csrf_token %} <input type="hidden" name="challenge_id"
						id="challenge_id" value="" />
					<button type="submit" class="btn btn-default">Yes</button>
					<a data-dismiss="modal" data-toggle="modal" href="#myModal"><input
						type="button" class="btn btn-primary" ; value="NO"></a>
				</form>
			</div>
		</div>

	</div>
</div>
<!-- end delete modal -->
<!-- Modal -->
<div id="myModal" class="modal fade modal-wide" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<form action="{% url 'mygift:approveChallenge' %}" method="post"
				id="leaseinForm">
				{% csrf_token %} <input type="hidden" name="challenge"
					id="challenge" value="" />

				<div class="modal-header">
					<div class="modal-body">

						<div class="container">
							<div class="col-lg-12">
								<div class="row">

									<div class="col-sm-18">
										<div class="row form-group">
										
											<label class="header1"> CHALLENGE DETAILS</label>
										</div>
									</div>
									<!--./roe form-group  -->

									<div class="row">
										<div class="col-md-3 form-group" id="column_space">
											<label>Challenge Name</label> {{ ChallengeTypeForm.title }}
										</div>
										<div class="col-sm-3 form-group" id="column_space">
											<label>Email</label>{{ AuthUserForm.email }}

										</div>
										
										
										<div class="col-md-4" >
										
											 <input type="image" id="id_image" class="image" height="120" width="150" style="margin-left:34px; border-radius:100%;">
												
										</div>
										
									</div>
									<div class="row">
									<div class="col-sm-3 form-group" id="column_space" style="width: 81%; margin-left: 3%;">
											<label>Challenge Category</label>{{ CategoryLocationRelForm.category }}
											
											
										</div>
									</div>

									<div class="row">

										<div class="col-sm-3 form-group" id="column_space"
											style="width: 81%; margin-left: 3%;">
											<label>Challenge Description</label>{{ ChallengeTypeForm.description }}
											
											
										</div>

									</div>

									<div class="row">
									
									   <div class="col-sm-3 form-group" id="column_space" style="width: 81%; margin-left: 3%;">
											<label>Location</label> {{ CategoryLocationRelForm.location }}
											
										</div> 
										
										
										
									</div>
									
									
									<div class="row">
									<div class="col-sm-3 form-group" id="column_space">
											<label>Contact No</label>{{ UserTypeForm.contact }}

										</div>
										<div class="col-sm-3 form-group" id="column_space" style="">
											<label>Organisation/Host Name</label> {{ UserTypeForm.organization }}
										</div>
									
									
										<div class="col-sm-3 form-group" id="column_space">
											<label>Venue</label> {{  ChallengeTypeForm.venue }}
										</div>
										
										
										
									</div>
									
									
									<div class="row">
									<div class="col-sm-3 form-group" id="column_space">
											<label>Direction</label>{{ ChallengeTypeForm.direction }}

										</div>
										<div class="col-sm-3 form-group" id="column_space">
											<label>Website</label> {{ UserTypeForm.website }}
										</div>
										
										
										<div class="col-sm-3 form-group" id="column_space">
											<label> Challenge Post Date</label>{{ ChallengeTypeForm.post_date }}

										
											
									</div>
									<div class="row">
									</div>
										<div class="col-sm-3 form-group" id="column_space" style="">
											<label>Challenge Start Date</label> {{ ChallengeTypeForm.start_date }}
										</div>
										
										<div class="col-sm-3 form-group" id="column_space">
											<label>Challenge End Date</label> {{ ChallengeTypeForm.end_date }}
										</div>
										
										<div class="col-sm-3 form-group" id="column_space">
											<label>Challenge Expiration Date</label> {{ ChallengeTypeForm.reg_expire_date }}
										</div>
										
										
										
										

									</div>

									<div class="row">
									<div class="col-sm-3 form-group" id="column_space">
											<label>Challenge Start Time</label>{{ ChallengeTypeForm.start_time }}

										</div>
									
									   
										<div class="col-sm-3 form-group" id="column_space" style="">
											<label>Challenge End Time</label> {{ ChallengeTypeForm.end_time }}
										</div>
										<div class="col-sm-3 form-group" id="column_space">
											<label>Required Volunteers For Challenge</label> {{ ChallengeTypeForm.requested_volunteers }}
											
										</div>
										
										

									</div>

									<div class="row">
									<div class="col-sm-3 form-group" id="column_space">
											<label>Challenge Accepted By Volunteers</label>{{ ChallengeTypeForm.commited_volunteers }}
											
											
										</div>
									 
										<div class="col-sm-3 form-group" id="column_space" style="">
											<label>Challenge Rejected By Volunteers</label> {{ ChallengeTypeForm.decline_volunteers }}
											
										</div>
										<div class="col-sm-3 form-group" id="column_space">
           							<label>Tentitive Volunteers Count</label>{{ ChallengeTypeForm.tentative_volunteers }}
           
           
          							</div>	
          															

									</div>
										<div class="row">
										<div class="col-sm-3 form-group" id="column_space">
									           <label>Volunteers Accepted by Host</label> {{ ChallengeTypeForm.accepted_volenteers_by_host }}
									           
									          </div>	
									
										<div class="col-sm-3 form-group" id="column_space">
											<label>Volunteers Rejected by Host</label>{{ ChallengeTypeForm.declined_volenteers_by_host }}
											
											
										</div>
							

										</div>

								</div>

								<div class="modal-footer" style="width: 80%;">
									<input type="submit" class="btn btn-success" ; id="idClose"
										; value="Approve">
										<!-- <input type="submit" class="btn btn-success" ; id="update"
										; value="Update"> -->

									<a data-dismiss="modal" data-toggle="modal" href="#rejectchallenge"><input
          type="button" class="btn btn-danger" ; style="width: 85px; margin-left: 10px;" value="Reject"></a>
         <button type="button" class="btn btn-info" onclick="ref()"
          ; id="idClose" data-dismiss="modal" style="width: 85px;margin-left: 1%;">Close</button>

								</div>
							</div>

						</div>
					</div>
				</div>

				</form>
		</div>
		<!--col-sm-18  -->
	</div>


</div>




{%endblock%}
<!-- /.content -->