{% extends "admin.html" %} {% load table_tags %} {% load staticfiles %}

{%block styleBlock%}
<style type="text/css">

.modal-footer {
    padding: 66px;
    text-align: right;
    margin-left: 90px;
}
.modal-footer {
    border-top-color: rgba(114, 81, 81, 0);
}

.modal.modal-wide .modal-dialog {
	width: 80%;
}


.header1
{
    margin-left: 450px;
    font-size: 140%;
   
    border-color: blue
}



.item {
	margin-left: 2%;
	width: 75%;
}

.itemassets {
	margin-left: 2%;
	width: 75%;
}

.modal-wide .modal-body {
	overflow-y: auto;
}

#textarea {
	margin-left: 2%;
}

.chkbox-width {
	width: 15%
}

#extraasst {
	margin-left: 15%;
	width: 135%;
}

#extraasst_quantity {
	margin-left: 70%;
	width: 20%;
}

.asets_quantity_left {
	width: 7%;
	margin-left: 38%;
	position: absolute;
	margin-top: -5%
}

.asets_desc_left {
	width: 50%;
	margin-left: 48%;
	position: absolute;
	margin-top: -5%
}

label {
	margin-top: 20px;
}

#column_space {
	margin-left: 3%;
}

.modal-wide .modal-body {
	overflow: hidden;
}
</style>
{%endblock%} {%block ScriptBlock%}
<script>
	$(document).ready(function() {

var t = document.getElementById('usertype1');
document.getElementById('id_gender').disabled = true;
  var row = t.rows.length
  var rows = row-1
  var j = 5
  var m = 0

 for (i=1 ; i<=rows ; i++)
  {
  var val = $(t.rows[i].cells[m]).text(i);  
  
  }


  /*alert(t.rows.length)*/

  // jQuery to get the content of row 4, column 1
  for (i=1 ; i<=rows ; i++)
   {
   var val = $(t.rows[i].cells[j]).text();  
  /*alert(val) */
         
    if (val == "3") {
    /*alert("1nd if");*/
    $(t.rows[i].cells[j]).text("approve");

   }
   else if(val == "2") {
    /*alert("2nd if");*/
    $(t.rows[i].cells[j]).text("rejected");

   } 
   else{
    $(t.rows[i].cells[j]).text("pending");
    
   }
  
   }
		
		$("#approve").on("click", function() {
			
			
			host_id = $(this).closest('tr').find('td:eq(1)').html();
			
		     
		     
		     
		       url='/mygift/hostapprove/';       
		     hostapprove(url,host_id); 
	    	
		    	
		    	
		    });
$("#reject").on("click", function() {
			
			
			host_id = $(this).closest('tr').find('td:eq(1)').html();
			
		     
		     
		     
		       url='/mygift/hostreject/';       
		     hostrej(url,host_id); 
	    	
		    	
		    	
		    });
		    
		    
$(".fa").on("click", function() {
	 $('.viewOnlyAccess').prop("disabled", false);
			/*alert("hii.........")*/
			host_id = $(this).closest('tr').find('td:eq(1)').html();
			
			 console.log(host_id)
		     
		     $("#gift_id").val(host_id);
			 $("#host").val(host_id);
		       url='/mygift/viewgift/';       
		    hostview(url,host_id);  
	    	 
		    	
		    	
		    });
		
		
		
		
	});
	
	function hostview(url,gift_id){
  $.ajax({
     url : url,
     type : "GET",
     data:{'gift_id' : host_id}
     }) 
     .done(function(data) {
    $.each(data,function(key ,value){
     
     var val0=value.auth.hometown;
     console.log(val0); 
       
     $('#id_hometown').val(value.auth.hometown);
     $('#id_date_of_birth').val(value.auth.date_of_birth);
      $('#id_full_name').val(value.auth.full_name);
        $('#id_organization').val(value.auth.organization);
        $('#id_contact').val(value.auth.contact);
        $('#id_website').val(value.auth.website);
	 $('#txt').val(value.rate);
        
        
        
        $('#id_occupation').val(value.auth.occupation);
        $('#id_user').val(value.auth1);
                $('#id_gender').val(value.auth.gender);


       console.log(data);
    
       var msg = data[0].image
       if(msg.startsWith("./"))
          { 
         var newVal=msg.split(".");
         var Val=("/media".concat(newVal[1])).concat(".".concat(newVal[2]));
         $('#id_image').attr('src',Val);}
        else{
         var word=msg.split(",");
         $('#id_image').attr('src',word[1]);
         }
       
       
       });
       
       });
 } 



	function hostapprove(url,host_id){
		$.ajax({
			  url : url,
			  type : "GET",
			  data:{'host_id' : host_id}
			  }) 
			  .done(function(data) {
				   console.log(data.length);
				   
				   
				   });
	}	
	function ref() {

  location.reload();
 }
	function hostrej(url,host_id){
		$.ajax({
			  url : url,
			  type : "GET",
			  data:{'host_id' : host_id}
			  }) 
			  .done(function(data) {
				   console.log(data.length);
				   
				   
				   });
	}	
	
	
	</script>
{%endblock%} {% block content %}

<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">List of Gift</h3>



				</div>
				<!-- /.box-header -->

				<div class="box-body" id="">{% render_table GiftList %}</div>

				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</section>


<!-- delete modal -->
<div id="rejecthost" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Reject Confirmation</h4>
			</div>
			<div class="modal-body">
				<div class="container">
					<p>Are you sure you want to reject?</p>
				</div>
			</div>
			<div class="modal-footer">
				<form id="" action="{% url 'mygift:rejectHost' %}" method="POST"
					name="">
					{% csrf_token %} <input type="hidden" name="host_id" id="host_id"
						value="" />
					<button type="submit" class="btn btn-default">Yes</button>
					<a data-dismiss="modal" data-toggle="modal" href="#myModal"><input
						type="button" class="btn btn-primary" ; value="NO"></a>
				</form>
			</div>
		</div>

	</div>
</div>
<!-- end delete modal -->
<!-- Modal -->
<div id="myModal" class="modal fade modal-wide" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<form action="{% url 'mygift:approveHost' %}" method="post"
				id="leaseinForm">
				{% csrf_token %} <input type="hidden" name="host" id="host" value="" />



				<div class="modal-body">

					<div class="container">
						<div class="col-lg-12">
							<div class="row">

								<div class="col-sm-18">
									<div class="row form-group">
										<label class="header1">GIFTER DETAILS</label>
										</div>
										<div>
										<input type="image" id="id_image" class="image" height="120" width="150" style="margin-left: 800px;border-radius:90%;">
</br><span id="star" style="float:right;margin-right:75px;">
            <img  src="/static/img/star.jpg" style="height:30px;width:30px;"></img>
            <input type="text" id="txt" style="border:none;">
            </span>
									</div>
								</div>
										<!-- <input type="image" src="../../static/img/Lighthouse_qBv0cYV.jpg">  -->
										
							</div>
									<!--./roe form-group  -->

									<div class="row">
										<div class="col-sm-3 form-group" id="column_space" style="">
											<label>User Name</label>{{ UserTypeForm.user }}
										</div>
										<div  class="col-sm-3 form-group" id="column_space">
                                                 <label>Gender </label>{{UserTypeForm.gender}}
												
												</div>
												<div class="col-sm-3 form-group" id="column_space">
											<label>Full Name</label>{{ UserTypeForm.full_name }}
										</div>

										<!-- <div class="col-sm-3 form-group" id="column_space">
											<label>Organisation</label>{{ UserTypeForm.organization }}

										</div>
										 -->
												

									</div>

									<div class="row">
										
										<div class="col-sm-3 form-group" id="column_space" style="">
											<label>Contact</label>{{ UserTypeForm.contact }}
										</div>
										<div class="col-sm-3 form-group" id="column_space" style="">
											<label>Birth Date</label>{{ UserTypeForm.date_of_birth }}
										</div>
										<div class="col-sm-3 form-group" id="column_space">
											<label>Occupation</label> {{ UserTypeForm.occupation }}
										</div>
										<!-- <div class="col-sm-3 form-group" id="column_space">
											<label>Website</label> {{ UserTypeForm.website }}
										</div> -->


									</div>

									<div class="row">
										
										<div class="col-sm-3 form-group" id="column_space">
											<label>Hometown</label>{{ UserTypeForm.hometown }}

										</div>

									</div>
									
									<div class="row">
								<div class="modal-footer" style="width: 80%;">
													
							         <button type="button" class="btn btn-info" onclick="ref()";
							           id="idClose" data-dismiss="modal" style="width: 85px;margin-left: 1%;">Close</button>
								</div>										

									</div>
								</div>
								
								
							</div>
						</div>
					</div>

					<!-- /.row -->
				</div>
				</form>
		</div>


	</div>
</div>






{%endblock%}
<!-- /.content -->