{% extends "base.html" %}
{% load static from staticfiles %}

 
{% block content %}
				
        <center>  
         <form id="login-form" action="{% url 'home:forget_password' %}"  method="POST">
                     {% csrf_token %}  
                     <center> <img src="{% static 'image/gift2.png' %}" style="width: 200px; height: 120px;"></center>
    <h3 style="margin-top: 5px; margin-bottom: 25px;font-size: 19px;"><span id="text-login-msg" style="color: #000000;"><b>G</b>et <b>I</b>nvolved <b>F</b>or <b>T</b>omorrow</span></h3> 
          <div class="form-activate forgetpass">
	
		<div class="row forget">Forget Password ?</div>
		                    <!-- <label for="name" style="color: #0072bc;margin-left: -79px;margin-bottom: 16px;">Forget Password ?</label> -->

			<div class="form-group">
		     <label for="email" style="color: #0072bc; margin-left: -72%;">Email</label>
	          <input type="email" class="form-control1" id="action_type" name="email" style="width: 78%; height: 98%;">
		    </div>
		    
		 <div>
          <button type="submit" class="btn btn-default" style="background-color: #0072BC;color: white;width: 97px;">Send Email</button>
        </div> 
				    		
      </div>
      </form>
      
                </center>       
    
				        
				                  

{% endblock %}